<h1><%= @task.title %></h1>

<div class="button">
  <p><%= link_to "Edit this task", edit_path(params[:id]) %></p>
</div>

<div class="container">
  <p><%= @task.details %></p>
</div>

<div id="completed">
  <p><%= @task.completed? ? "[X] This task is completed" : "[ ] This task is not completed yet" %></p>
</div>

<hr class="line"></hr>

<div class="link">
  <p><%= link_to "Back to list", tasks_path %></p>
</div>


